@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{
    --primary-color:rgb(25, 161, 202);
    --primary-color-darker:rgb(9,48,56);
    --primary-color-active:rgb(241, 2, 50);
}


*{
    box-sizing: border-box;
    outline: 0;
    
}

body{
    margin: 0;
    padding: 0;
    background:var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;  
    line-height: 1.5em;

}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #ffff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;

}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    border-radius: 20px;
    background: var(--primary-color);
    color: #ffff;
    font-size: 18px;
    font-weight: 700px;
    height: 50px;
    cursor: pointer;
    
}

form button:hover{
    background: var(--primary-color-darker);
}

form button:active{
    background: var(--primary-color-active);
}

.paragrafo-resultado, .bad{
    background: rgb(109,255,182);
    padding: 10px 20px;
}
.bad{
    background: rgb(241, 2, 50);
    padding: 10px 20px;
}